@{
    ViewBag.Title = "Contact";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>*@

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Cell:</span>
        <span>+32 (0)476 98 70 74</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Info:</span>
        <span><a href="mailto:info@sambit.be">info@sambit.be</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Lindelaan 170<br />
        8500 Kortrijk, Belgium
    </p>
</section>