@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Creative design and adaptable development of modern, intuitive websites, by Sam Bruggeman.
            </p>
        </div>
    </section>
}
